/* ------------------------------------------------------ */

  .animate {
    animation: animate 1s ease forwards;
  }

  @keyframes animate {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  